



img {
    border-radius: 35px;
}

.card-img {
    width: 350px;
}

.star {
    color: #EB5757
    ;
}

.super-host{
    width: 100px;
    height: 28px;
    
}

.test {
    width: 100%;
}

.test img {
    aspect-ratio: 3/2;
    object-fit: cover;
}

.superHostHide {
    display: none;
}

input {
    font-family: 'Mulish', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif; 
}

.offcanvas{
    height: 80%;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserrat', sans-serif; 
}


/*FONT'S STYLES*/

.p-cardInfo {
    font-size: 14px;
 
}
h1 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif; 
    padding-top: 5px;
}

p {
    font-size: 14px;
}

/*OFF CANVAS STILES*/

.filterLocation {
font-size: 9px;
}

.filterGuests {
    font-size: 9px;
}

.locationImg {
    color: #4F4F4F;

    
}

.btn {
    color: white;
    background-color: #EB5757;
}